#login-form-change-pw {
    height: 550px;
}

#new-pw-div {
    top: 2.8rem;
    left: 65px;
}

#old-pw-div {
    top: 1.5rem;
    left: 65px;
}

#btn-div {
    top: 3.2rem;
    left: 16px;
}

.btn-save-change-pw {
    position: absolute;
    background-color: rgba(233,66,77,1);
    border: 1px solid rgba(207,35,56,1);
    border-radius: 7px;
    width: 75px;
    height: 40px;
    color: white;
    left: 215px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-save-change-pw:disabled {
    background-color: transparent;
    border: 1px solid rgba(108,117,125,1);
    color: gray;
    cursor: default;
}

.btn-cancel-change-pw {
    position: absolute;
    background-color: transparent;
    border: 1px solid rgba(108,117,125,1);
    border-radius: 7px;
    width: 85px;
    height: 40px;
    color: gray;
    left: 308px;
    font-size: 1.2rem;
    cursor: pointer;
}


.error-message-top {
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 10px;
    color: red;
}

.red-border {
    border: 1px solid hsl(0, 100%, 50%)!important;
}

#error-message-old-pw {
    position: absolute;
    top: 54px;
    left: 187px;
    font-style: italic;
}

#form-label-change-pw {
    font-size: 18px;
    left: -20px;
}

#form-label-change-pw-msg {
    font-size: 18px;
    left: -20px;
}

#form-body-pw {
    height: 240px;
}


#eye-fill {
    position: absolute;
    width: 16px;
    height: 11px;
    left: 312px;
    top: 12.251px;
    overflow: visible;
}

#eye-fill:hover {
    cursor: pointer;
}

.Path_24 {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 5.5px;
    top: 3px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_24 {
    fill: rgba(0,0,0,1);
}

.Path_25 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 11px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_25 {
    fill: rgba(0,0,0,1);
}

#eye-fill_lz {
    position: absolute;
    width: 16px;
    height: 11px;
    left: 312px;
    top: 12.251px;
    overflow: visible;
}

#eye-fill_lz:hover {
    cursor: pointer;
}

.Path_24_l {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 5.5px;
    top: 3px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_24_l {
    fill: rgba(0,0,0,1);
}

.Path_25_l {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 11px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_25_l {
    fill: rgba(0,0,0,1);
}
