.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#x-square-fill_kx {
  fill: transparent;
  stroke: rgba(227, 12, 24, 1);
  stroke-width: 2.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.exit-btn-modal {
  position: absolute;
  right: 1.5rem;
}
.x-square-fill_kx {
  overflow: visible;
  width: 22.5px;
  height: 22.5px;
  transition: all 0.3s ease-out;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  cursor: pointer;
}
.form-header-message-assignmentdetail {
  width: 367px;
  white-space: nowrap;
  line-height: 67px;
  text-align: left;
  font-family: Segoe UI, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(207, 35, 56, 1);
}
.form-header-assignmentdetail span {
  position: absolute;
  left: 1rem;
  /* top: -50%; */
}
.form-header-assignmentdetail {
  position: relative;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  width: 39rem;
  height: 4.5rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(239, 241, 245, 1);
}
.form-body-assignmentdetail {
  position: absolute;
  width: 39rem;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(250, 252, 252, 1);
  padding: 2rem;
  padding-left: 3rem;
  text-align: left;
}
.text-assignmentdetail{
  font-family: Helvetica Neue, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.20rem;
    color: rgba(33,37,41,1);
}
.form-container-assignmentdetail{
  transform: scale(0.7);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
}
.login-form-assignmentdetail {
  width: 39rem;
  height: fit-content;
  overflow: visible;
}